.div-1,
.div-2 {
  background-color: red;
  /*display block; esta etiqueta l trae por defecto*/
}

.span-1 {
  /*display: inline trae este display por defecto*/
  background-color: green;
  float: right;
}

.span-2 {
  background-color: blue;

}

.imagen {
  /*display: inline-block; trae este display por defecto que permite trabajar con altura y ancho*/
  width: 100px;

}